.container {
  width: 800px;
  border: 1px solid green;
}
.forest {
  width: 100%;
}
.text-block {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  background-color: lightgreen;
  opacity: 0.7;
  position: relative;
  bottom: 0;
}
