.container {
  width: 700px;
}
.tiger {
  width: 100%;
}
.text-block {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: lightgreen;
  opacity: 0.6;
  position: relative;
  bottom: 3.4em;
}
